<header>
  <div id="header_text">
    Simple pricing. <br /> Try before you buy.
  </div>
</header>

<main>
  <article class="column">
    <div class="column_header" id="head1">
      <div class="plan">PERSONAL</div>
      <div class="price">$5</div>
      <div class="per_month">PER MONTH</div>
    </div>
    <div class="cell">
      <div>Free setup</div>
      <div>Custom sub-domain</div>
      <div>Standard customer support</div>
      <div>1GB file storage</div>
      <div>1 database</div>
      <div>Unlimited bandwidth</div>
    </div>
    <div class="button_box">
      <div class="choose_button">Choose</div>
    </div>
  </article>

  <article class="column">
    <div class="column_header" id="head2">
      <div class="plan">SMALL BUSINESS</div>
      <div class="price">$25</div>
      <div class="per_month">PER MONTH</div>
    </div>
    <div class="cell">
      <div>Free setup</div>
      <div>Use your own domain</div>
      <div>Standard customer support</div>
      <div>10GB file storage</div>
      <div>5 databases</div>
      <div>Unlimited bandwidth</div>
    </div>
    <div class="button_box">
      <div class="choose_button">Choose</div>
    </div>
  </article>

  <article class="column">
    <div class="column_header" id="head3">
      <div class="plan">ENTERPRISE</div>
      <div class="price">$45</div>
      <div class="per_month">PER MONTH</div>
    </div>
    <div class="cell">
      <div>Free setup</div>
      <div>Use your own domain</div>
      <div>Premium customer support</div>
      <div>Unlimited file storage</div>
      <div>25 databases</div>
      <div>Unlimited bandwidth</div>
    </div>
    <div class="button_box">
      <div class="choose_button">Choose</div>
    </div>
  </article>

</main>

<div>
  <div class="info" id="info1">
  <div class="info_header">
    GET STARTED TODAY
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>

<div class="info" id="info2">
  <div class="info_header">
    PAY MONTHLY OR ANNUALLY
  </div>
  <div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </div>
</div>

<div>
  <div class="info" id="info3">
    <div class="info_header">
      24/7 CUSTOMER SUPPORT
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>

  <div class="info" id="info4">
    <div class="info_header">
      CANCEL YOUR PLAN ANY TIME
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
  </div>
</div>
